body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.banner {
	display:flex;
	flex-direction: row;

	width: 100%;
	height: 100px;

	background: rgb(230, 200, 252, 1.0);
	color: rgb(143, 61, 152, 1.0);
}

.banner-logo > img {
	width: 100px;
	height: 100%;
}

.banner-title {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;

	font-size: 40px;
	font-weight: bold;
}

.bar-menu {
	display:flex;
	flex-direction: row;

	width: 100%;
	height: 40px;
	background: rgb(193, 142, 232, 1.0);
}

.bar-menu-item {
	display:flex;
	align-items: center;
	flex: 1 1 auto;
	justify-content: center;

	color: rgb(143, 61, 152, 1.0);
	font-weight: bold;
	height: 40px;

	text-decoration: none;

}

.bar-menu-item:hover {
	background: rgb(232, 142, 195, 1.0);
}





.welcome1 {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	margin-left: 15px;
	font-size: 40px;
}

.welcome2 {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 20px;
}


.flex-container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-margin {
	margin-top: 70px;
}

.flex-auto {
	flex: 1 1 auto;
}

.flex-row {
	display: flex;
	justify-content: center;
	width: calc(1/2 * 100%);
}

.link-box {
	display: flex;
	flex-direction: column;

	width: 70%;
	margin: 40px 20px;
	padding: 10px;

	border: 3px dotted rgb(143, 61, 152, 1.0);
	border-radius: 10px;

	box-sizing: border-box;
}

.link-title {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	color: rgb(143, 61, 152, 1.0);
	justify-content: center;
	margin-bottom: 15px;
}

.link-title-underline {
	display: flex;
	border-radius: 10px;
	align-self: center;
	width: 50%;
	height: 3px;
	background: rgb(143, 61, 152, 1.0);
	margin-bottom: 15px;
}

.link-image {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.link-image > img{
	max-height: 300px;
	max-width: 100%;
}


.button-container{
	display: flex;

	margin-top: 20px;
	margin-left: 10px;
	
}

.button {
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(193, 142, 232, 1.0);

	text-decoration: none;
	color: white;
	font-weight: bold;
}

.button:hover {
	background-color: rgb(232, 142, 195, 1.0);
}